div {
    width: 200px;
    height: 260px;
    border: 1px solid lightgray;
    margin: 0 0 1em 1em;
    padding: 1em;
}
img {
    width: 180px;
    height: 180px;
    overflow: hidden;
}
h1 {
    font-size: 16pt;
}
h2 {
    font-size: 12pt;
}