header {
    background: grey;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
}
a:visited {
    color: white;
}
a {
    text-decoration: none;
}
.link {
    font-weight: bold;
    font-size: 20pt;
    margin-right: 1em;
}
a.active-link {
    text-decoration: underline;
}