<div class="product-list-container">
    <app-loading 
      *ngIf="loading"
      [height]="'100px'" 
      [width]="'100px'">
    </app-loading>
<app-product-item 
  (delete)="delete(prod.id)"
  [routerLink]="[prod.id]"
  [title]="prod.name"
  [subtitle]="prod.description"
  [image]="prod.imageUrl"
  *ngFor="let prod of products; let index = index;"
  ></app-product-item>
</div>

<input placeholder="Title" #title><br>
<input placeholder="Description" #description><br>
<button (click)="add(title.value, description.value);"
  [disabled]="loading"> 
  <span *ngIf="!loading">Add Product</span>
  <app-loading 
    *ngIf="loading"
    [height]="'20px'" 
    [width]="'20px'">
  </app-loading>
</button><br>
